<div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
        <div class="container-fluid">
            <a id="brandhref" class="brand" href="#">AstroExplorer&nbsp;<sup>&alpha;:2</sup></a>
            <ul class="nav"> 
                <li class="{{ isitchosenpublications }}"><a href="{{ siteprefix }}/explorer/publications">Publications</a></li> 
                
                <li class="{{ isitchosenobservations }}"><a href="{{ siteprefix }}/explorer/observations">Observations</a></li>
                <li class="{{ isitchosenobjects }}"><a href="{{ siteprefix }}/explorer/objects">Objects</a></li>
				<li class="{{ isitchosencatalogs }}"><a href="{{ siteprefix }}/explorer/catalogs">Catalogs</a></li>
                <!--li class="{{ isitchosenproposals }}"><a href="{{ siteprefix }}/explorer/proposals">Proposals</a></li-->
                
            </ul>
            <!--form class="pull-left">
                <input type="text" id="querybig" name="query"/>&nbsp;&nbsp;<a  id="gosearch" style="cursor: pointer;">Go</a>
            </form!-->
            <!--p class="pull-right  {{isitchosenuser}}">
                <a href="#" class="userlogin userloggedout" id="loginhref" style="display: none; cursor: pointer;">login</a>
                <a id="userhref" class="userloggedin" style="display: none; cursor: pointer;"></a>
                <a id="logouthref" class="userloggedin" style="display: none; cursor: pointer;">logout</a>
	        </p-->
            <ul class="nav secondary-nav pull-right"> 
                <li>&nbsp;&nbsp;</li>
                <li><a class="isurround" href="http://usvao.org"><img height="36" alt="VAO" src="{{ staticprefix }}/images/VAOLogo.png"></img></a></li>
                <li>&nbsp;&nbsp;</li>
                <li><a class="isurround" href="http://adslabs.org"><img height="36" alt="ADSLabs" src="{{ staticprefix }}/images/adslogo_labs.jpg"></img></a></li>
                <li>&nbsp;&nbsp;</li>
				<li class="{{ isitchosenhelp }}"><a href="{{ siteprefix }}/explorer/help">Help</a></li>
                <li class="{{ isitchosensaved }}"><a href="{{ siteprefix }}/explorer/saved">Saved</a></li>
                <li  class="menu dropdown {{ isitchosengroup }}"> 
                    <a class="dropdown-toggle menu" href="#" id="groups">Groups</a> 
                    <ul id="groupsmenu" class="menu-dropdown"> 
                        <li><a class="newgroupfancybox" href="#addgroupdiv">New Group</a></li>
                        <li class="divider"></li>
                    </ul> 
                </li>
                <li>
                    <a href="#" class="userlogin userloggedout" id="loginhref" style="display: none; cursor: pointer;">login</a>
                </li>
                <li class="{{isitchosenuser}}">
                    <a id="userhref" class="userloggedin" style="display: none; cursor: pointer;"></a>
                </li>
                <li>
                    <a id="logouthref" class="userloggedin" style="display: none; cursor: pointer;">logout</a>
                </li>
                
            </ul>
             
            

            
        </div> 
    </div>
	<div style="display:none"><div id="addgroupdiv"></div></div>
</div>


