
<div class="full"> 
    <h1>Saved Searches</h1><br/>
	<ul>
	{{#savedsearches}}
	  <li id="search-{{searchctr}}">
	    {{searchpre}}
	    <a href="/semantic2/alpha/explorer/publications#{{searchuri}}">{{searchtext}}</a>
	    [<a href="#" id="del-search-{{searchctr}}">Delete</a>]
	  </li>
	{{/savedsearches}}
	</ul>
	<br/>
    <h1>Saved Publications</h1><br/>
	<ul>
	{{#savedpubs}}
	<li>
	  {{linkpre}}
	  <a href="/semantic2/alpha/explorer/publications#fq={{linkuri}}&q=*%3A*">{{{linktext}}}</a>
	  [Remove link]
	</li>
	{{/savedpubs}}
	</ul>

	<!-- I assume this is a sensible time to add the handlers -->
	<script type='text/javascript'>
// relying on SITEPREFIX being in scope
function addDeleteSearchHandler(ctr, searchid) {
  $('#del-search-'+ctr).click(function() {
    $.post(SITEPREFIX+'/deletesearch',
	JSON.stringify({'savedsearch':searchid}),
	function (data) {
	  if (data['success']==='defined') {
	    // Could force a page reload but this is less
	    // work and probably a nicer user experience.
	    $('#search-'+ctr).hide();
	  }
	});
    return false;	
 });
}

function addDeleteHandlers() {
{{#savedsearches}}
  addDeleteSearchHandler('{{searchctr}}', '{{{searchuri}}}');
{{/savedsearches}}
}

addDeleteHandlers();

	</script>
</div>
