<div class="full"> 

  {{#notloggedin}}
  <!-- TODO: make 'log in' be a link. -->
  <div>
    Please log in to see your saved items.
 </div>
  {{/notloggedin}}

  {{^notloggedin}}
 <div class="saved-items">
   {{#hassearches}}
  <h1>Saved Searches</h1>
  <form id="saved-searches-form" action="#">
   <div class="formactions">
    <input type="button" value="Mark all" onClick="changeAllButtons(this.form, true)">
    <input type="button" value="Clear all" onClick="changeAllButtons(this.form, false)">
    <input type="submit" name="action" value="Delete marked">
    <input type="button" value="Get as BibTex" onClick="getSearchAsBibTex(this.form)">
    <button type="button" name="myads" value="Send to myADS"
      onClick="saveSearchToMyADS(this.form)">
      <img src="/semantic2/alpha/static/images/ADSlabs-button.png" alt="[myADS logo]">
    </button>
   </div>
  <table class="tablesorter" id="saved-searches-table">
    <thead>
      <tr><th/><th>Date saved</th><th>Search terms</th></th>
    </thead>
    <tbody>  
  {{#savedsearches}}
<tr class="saveditem" id="search-{{searchctr}}">
<td><input type="checkbox" name="searchid" value="{{searchuri}}"></td>
<td class="savetime"><span value="{{searchtime}}">{{searchtimestr}}</span></td>
<td class="searchtitle"><a href="/semantic2/alpha/explorer/publications#{{searchuri}}">{{searchtext}}</a></td>
</tr>
{{/savedsearches}}
  </tbody>
  </table>
 </form>
  {{/hassearches}}
  {{^hassearches}}
  <h1>No saved searches</h1>
  {{/hassearches}}
 </div>

  <div class="saved-items">
    {{#haspubs}}
 <h1>Saved Publications</h1>
  <form id="saved-pubs-form" action="#">
  <div class="formactions">  
<input type="button" value="Mark all" onClick="changeAllButtons(this.form, true)">
<input type="button" value="Clear all" onClick="changeAllButtons(this.form, false)">
<input type="submit" name="action" value="Delete marked">
<!-- TODO: the current approach forces the bibtex/myADS results to
     be displayed by fancybox; Doug thinks that this is not ideal
     since he'd like to be able to have it open in a new tab/window.
     -->
<input type="button" value="Get as BibTex" onClick="getAsBibTex(this.form)">
<button type="button" name="myads" value="Send to myADS"
    onClick="saveToMyADS(this.form)">
    <img src="/semantic2/alpha/static/images/ADSlabs-button.png" alt="[myADS logo]">
</button>
  </div>
  <table class="tablesorter" id="saved-pubs-table">
    <thead>
      <tr><th/><th>Date saved</th><th>Title</th><th>Bibcode</th></th>
    </thead>
    <tbody>  
    {{#savedpubs}}
<tr class="saveditem" id="pub-{{pubctr}}">
<td><input type="checkbox" name="pubid" value="{{{pubid}}}"></td>
<!-- should not use non-standard value attribute here -->
<td class="savetime"><span value="{{pubtime}}">{{pubtimestr}}</span></td>
<td class="papertitle"><a href="/semantic2/alpha/explorer/publications#fq={{linkuri}}&q=*%3A*">{{{linktext}}}</a></td>
<td class="bibcode">{{{bibcode}}}</td>
</tr>
    {{/savedpubs}}
    </tbody>
  </table>
  </form>
    {{/haspubs}}
    {{^haspubs}}
    <h1>No saved publications</h1>
    {{/haspubs}}
    </div>
{{/notloggedin}}
    
	<!-- I assume this is a sensible time to add the handlers -->
	<script type='text/javascript'>
function changeAllButtons(form, newstate) {
  $(form).find('input[type=checkbox]').each(function() { this.checked = newstate; });
}

// var fancyboxOpts = { 'autoDimensions': false, 'width': 1024, 'height': 768 };

function getAsBibTex(form) {
  var data = [];
  // could use input:checked but I think I read that there may
  // be issues, so use the more explicit version.
 $(form).find('input[type=checkbox][checked|=true]').parent().nextAll('td.bibcode').each(function() {
 data.push($(this).text());
   });
 if (data.length == 0) { return false; }
 $.fancybox.showActivity();
   doADSproxy('/cgi-bin/nph-bib_query?data_type=BIBTEX&' +
               data.map(encodeURIComponent).join('&'),
               function (resp) { $.fancybox('<pre>'+resp+'</pre>'); });
 return false;
}

// For now only support one search
function getSearchAsBibTex(form) {
  var data = [];
  $(form).find('input[type=checkbox][checked|=true]').each(function() {
    data.push(this.value);
  });
  if (data.length == 0) { return false; }
  else if (data.length > 1) {
    alert("Only 1 search can be retrieved as BibTex at a time (you selected " + data.length + ")");
    return false;
  }
  $.fancybox.showActivity();

 var query = SOLRURL + 'select?' + data[0] +
        '&fl=bibcode' +
        '&wt=json&json.wrf=?';

  $.getJSON(query, function (response) {
     if (response.response.numFound === 0) {
        $.fancybox.hideActivity();
        alert("No publications found for this search.");
        return false;
      }
      var bibcodes = [];
      for (var i = 0, n = response.response.docs.length; i < n; i++) {
        bibcodes.push(response.response.docs[i].bibcode);
      }
     doADSproxy('/cgi-bin/nph-bib_query?data_type=BIBTEX&' +
          bibcodes.map(encodeURIComponent).join('&'),
          function (resp) { $.fancybox('<pre>'+resp+'</pre>'); });
      return false;
    });

}

function saveToMyADS(form) {
  var data = [];
  $(form).find('input[type=checkbox][checked|=true]').parent().nextAll('td.bibcode').each(function() {
    data.push($(this).text());
  });
 if (data.length == 0) { return false; }
 $.fancybox.showActivity();
 doADSproxy('/cgi-bin/nph-abs_connect?library=Add&' +
     data.map(function (item) { return 'bibcode=' +
     encodeURIComponent(item); }).join('&'),
     function(resp) { $.fancybox(resp); });  
     
 return false;
}
   
function saveSearchToMyADS(form) {
  var data = [];
  $(form).find('input[type=checkbox][checked|=true]').each(function() {
    data.push(this.value);
  });
  if (data.length == 0) { return false; }
  else if (data.length > 1) {
    alert("Only 1 search can be retrieved as BibTex at a time (you selected " + data.length + ")");
    return false;
  }
  $.fancybox.showActivity();

 var query = SOLRURL + 'select?' + data[0] +
        '&fl=bibcode' +
        '&wt=json&json.wrf=?';

  $.getJSON(query, function (response) {
     if (response.response.numFound === 0) {
        $.fancybox.hideActivity();
        alert("No publications found for this search.");
        return false;
      }
      var bibcodes = [];
      for (var i = 0, n = response.response.docs.length; i < n; i++) {
        bibcodes.push(response.response.docs[i].bibcode);
      }
    doADSproxy('/cgi-bin/nph-abs_connect?library=Add&' +
       bibcodes.map(function (item) { return 'bibcode=' +
       encodeURIComponent(item); }).join('&'),
       function(resp) { $.fancybox(resp); });
     return false;
  });
}

// relying on SITEPREFIX being in scope

function submitAction(path, idname) {
    return function() {
      var data = [];
      $(this).find('input[type=checkbox]').each(function() {
        if (this.checked) { data.push(this.value); }
      });
      if (data.length == 0) { return false; }
      var map = { "action": "delete" };
      map[idname] = data;
      $.post(SITEPREFIX+path, JSON.stringify(map), function(resp) {
        // reload on success or error
        window.location.reload();
      });
    };
}

$('#saved-searches-form').submit(submitAction('/deletesearches', 'searchid'));
$('#saved-pubs-form').submit(submitAction('/deletepubs', 'pubid'));

    // Use the actual time value to sort the time column rather than
    // the text, and the text for the other columns. a bit ugly
    //
var tsortopts = {
  headers: { 0: { sorter: false } },
  textExtraction: function(node) {
     var val = $(node).find('span').attr('value');
    if (val === undefined) {
        return $(node).text();
      } else {
        return val;
      }
   }
 }
    
{{#hassearches}}
$('#saved-searches-table').tablesorter(tsortopts);
{{/hassearches}}
{{#haspubs}}
$('#saved-pubs-table').tablesorter(tsortopts);
{{/haspubs}}
   
	</script>
</div>
