<div class="content"> 
<h2> User {{ user }} </h2>
<hr/>
<div style="display: none;" class="userloggedout">
 Please <a class="userlogin" href="#">log in</a> to see your home page.
</div>
  
<div style="display: none;" class="userloggedin">
<a type="button" class="btn small primary newgroupfancybox" href="#addgroupdiv">Add Group</a>
<div id="owner_groups" class="saved-items"></div>	
<div id="pending_invitations" class="saved-items"></div>
<div id="member_groups" class="saved-items"></div>
</div>
    
</div>
