<div id="header"> 
	<table width="100%"> 
  	    <tr><td> 
            <div id="logos"> 
            <table width="100%"> 
            <tr><td> 
            <a href="http://labs.adsabs.harvard.edu"> 
                    <img src="/images/adslogo_labs.jpg" height="84" width="174" alt="[The NASA Astrophysics Data System]" /> 
            </a> 
            </td><td> 
            <h1 id="pagetitle">Prototype ADSLabs/VAO Semantic Browser</h1><br/>
            <div>
                <!--span class="tab {{isitchosensearch}}"><a href="/explorer/search">Search</a></span-->
                <span class="tab {{isitchosenpublications}}"><a href="/explorer/publications">Publications</a></span>
                <span class="tab {{isitchosenobjects}}"><a href="/explorer/objects">Objects</a></span>
                <span class="tab {{isitchosendatasets}}"><a href="/explorer/datasets">Datasets</a></span>
                <span class="tab {{isithosenproposals}}"><a href="/explorer/proposals">Proposals</a></span>
				<span class="tab saved {{isitchosenmystuff}}"><a href="/explorer/saved">Saved</a></span>
            </div>
  		<!--h2>With RDF, Faceting, Objects, Data, and SOLR, Oh My!</h2--> 
            </td><td valign="top" align="left">

	 		<span valign="top"><a id="loginhref">login</a></span>&nbsp;|&nbsp;<a id="logouthref">logout</a></span>

	 		

			</td><td>
            	<a href="http://www.usvao.org/"> 
                        <img src="/images/vao.png" alt="VAO" /> 
                </a>
			</td><td>
			<a href="http://www.nsf.gov/"> 
                    <img src="/images/nsf1.gif" width="85" height="84" alt="[NSF]" /> 
            </a>
            </td></tr> 
            </table> 
            </div> 
        </td></tr> 
    </table> 
  <!--h1>ADS Semantic Search</h1> 
  <h2>With RDF, Faceting, Objects, Data, and SOLR, Oh My!</h2-->
</div>
