<div class="sidebar">
	<div class="well">
		<h3>Useful Links</h3><br/>
		<ul>
			<li><a href="http://portal.usvao.org/portal/Mashup/Clients/Portal/DataDiscovery.html">VAO Data Discovery Tool</a></li>
			<li><a href="http://labs.adsabs.harvard.edu/ui/">ADS Labs Steamlined Search</a></li>
			<li><a href="http://labs.adsabs.harvard.edu/fulltext/">ADS Labs Full Text Search</a></li>
			<li><a href="http://simbad.u-strasbg.fr/simbad/sim-fbasic">SIMBAD</a></li>
			<li><a href="https://docs.google.com/present/view?id=dg4d27sr_11388kfvbcf">IVOA Presentation</a></li>
		</ul>
	</div>
</div>

<div class="content"> 

<h2>Help</h2>
<hr/>
<h3> How to Use the AstroExplorer </h3>
<p>
	AstroExplorer aims to be your research portfolio application. It allows you to explore astronomical resources such as
	publications, observations (and their associated datasets), objects, catalogs, and proposals, and to explore the relationships
	between them. It then enables you to save these resources into tagged libraries which you can access later, and into collaborations,
	so that you can share your findings with your co-workers and collaborators.
</p>
<p>
	We expose these resources and their connections by curating and indexing them all at one place. This is the model
	used by google, where the data resides on your servers, but the index on theirs. We have currently indexed all Chandra Observations,
	observations from several missions from MAST, related articles, objects, and observing proposals (88K observations and 10K publications).
	This is part of our current focus
	on NASA missions, since they have already curated extensive bibliographies. If you own a data set with bibliographic links which you would
	like to see curated, please contact us at adsvao.astroexplorer@gmail.com.
</p>
<p>
	This is a prototype!  It has been created to showcase what kind of functionality can be delivered when these resources are brought 
	together and exposed to the user in a web-based environment.  It is meant to provide search and discovery capabilities which 
	are complementary to the position-based searches supported by the VAO portal.
</p>
<p>
	The personalization features which are supported are based on the ADS login system, so they require users to log into their ADS account.
	This enables one to save queries, resources (publications and observations), tag them, and optionally share them with a group of
	collaborators.
</p>
<p>
	We would love feedback. Either click the blue Feedback link on the upper right of the home page, or email us at: adsvao.astroexplorer@gmail.com.
</p>
<p>
	Features not in this version but in development are: nicknames, target normalization, author normalization, more data, more scalable continuation of searches between tabs, public libraries, Dropbox support, Data Discovery Tool interoperation, object searching, catalog searching, and SAMP connections to desktop applications. For the meaning of these, read the tour below!
</p>

<h3>Tour and Tutorial</h3>
<br/>
<ol class="normal">
<li>
<p><b>The Home Page</b>:</p>
<br/>
<img width="800" src="{{staticprefix}}/images/helpimgs/Home-1.jpg"/>
<br/>
<p>
When you first visit AstroExplorer, you see the home page with some information about the application, 
and a simple search area with the ability to textually search either publications or observations (1). You can
elect instead to explore Publications or Observations under the Explore heading, or on the black bar up top. Or you
could decide to login (2) by clicking the link on the upper right. Also note the feedback and help buttons. You are reading the help text.
</p>
</li>
<li>
<p><b>Logging In</b>:</p>
<br/>
<img width="600" src="{{staticprefix}}/images/helpimgs/Home2-1-1.jpg"/>
<br/>
<p>
	When you log in you are presented with a page that shoes you the collaborations you created, have been invited to, or are a member of. You can create new collaborations using the "Add Collaboration" (1) Button or the Collaborations Menu (2). You can also invite people to your collaboration, decline invitations, delete collaborations, or accept invitations. Perhaps these collaborations are your local research groups, with your graduate students and your postdocs. And perhaps they span the globe, as so many of our modern working groups do. Or even maybe, they are a journal club, or undergraduate course, or just shared interests. 
</p>
<p>
	Each of these actions works in the following way: you click the checkboxes on the left, and perform the action in bulk on them. A Mark All and Clear All are provided for quick marking. More ways to access this information and operate on it will be forthcoming.
</p>
</li>

<li>
	<p><b>Search and explore</b>:</p>
	<p>
Click on the publications page in the black upper bar, displaying publications and facets which can be used to filter these publications. Alternately you can make a textual search, say, on "blazars", from the home page. This will lead to a screen like so:
</p>
<br/>
	<img width="900" src="{{staticprefix}}/images/helpimgs/Publications-2-1-1.jpg"/>
<br/>
<p>
There are four type of facets available on the left (publications, objects, observations, proposals). In the screen shot we see keywords(1). We can see the current search in the upper left (2), and the number of results (146) on the top of the pagination of results (3). If we are logged in, we can save the search, or individual publications into our library (4). One can currently sort results in two ways (publication date or citations), ascending or descending (5).
</p>
</li>

<li>
<p>
Note that if you click the (X) (6) next to in blazars into search box, you will get the exploratory list of all publications in our system. If you type 'blazars' into the search box (7) below, you will see  10 autocomplete as keywords, smaller than the 146 you found earlier. This is because textual search searches titles abstracts, keywords, etc, rather than just being restricted to a given facet. To reproduce that search from this page, type blazars into the search box (7) and hit escape to stop the autocompletion, before hitting the return key.
</p>
</li>

<li>
<p>
See the top keywords, active people, most studied objects, targets. Play around with the various facets. Save some searches and publications.
</p> 
</li>

<li>
<p><b>Targets, Authors, and Normalization</b>:</p>
<p> Using the (X) button to get back to the state of the search at text:blazars, click in the left on B1101+384 object-name facet, which, by the looks of our Tag Cloud, is one of the most studied. Our tag cloud limits us to the 20 most occurrent values for any facet.
In missions, click the CHANDRA mission facet. Note that the publications which surface also have data from FUSE. In this way we can figure multi-mission publications. The left side of your application now looks the left side of the image below:
</p>
<img width="500" src="{{staticprefix}}/images/helpimgs/Publications2.jpg"/>
<img width="343" src="{{staticprefix}}/images/helpimgs/Publications3-1.jpg"/>
<p> Notice from the right side that the most frequent target is Mrk421. You will see different spellings of it.  SIMBAD’s canonical name for QSO B1101+384 is Mrk 421. This problem arises because missions usually take target names from their Guest Observers who don't use a consistent nomenclature. We are tackling the curation of these targets to the object names specified by the CDS, but the current prototype reflects the rather incomplete state of our efforts.
</p>
</li>

<li>
<p>
Pivot on B1101+384 by clicking the [P] next to the (X) in the Current Selection area on the upper left, notice Schull as main author, and two different Sembachs' on proposals. This is a variant of the previous problem, but instead has to do with the names that are obtained from various proposals and papers, and the need for normalization of these names. This too is a problem that we are tackling.
</p>
</li>
<li>
<p><b>Continuing searches</b>:</p>
<p>
	From the state in point 6, which you can get back to by using the 'Back' button in your browser (this is the state in the left of the two images), click on the green 'Continue In Observations' Button on the upper left side. This button only appears when there are few enough observations corresponding to the publications that we can scalably continue the search in the observations tab. We are working on increasing this (currently rather small) number. When we do this, we get 'thrown' into the Observations page where the list of observations corresponding to the publications are presented along with all the facets (publications, objects, observations, proposals) that may be used to filter these further.
</p>
<br/>
<img width="600" src="{{staticprefix}}/images/helpimgs/Observations.jpg"/>
<br/>
<p>
	Note the black popup showing the list of objects used. One caveat to the filtering of observations by object names and types. These
	currently use the CDS connection through publications. They are not augmented by the target normalization that we are doing.
</p>
</li>

<li>
<p><b>Sorting</b>:</p>
<br/>
<img width="761" src="{{staticprefix}}/images/helpimgs/Observations3.jpg"/>
<br/>
<p>
We can now use the sorter in the upper right corner to sort on exposure time, showing the deepest observations first.
</p>
</li>

<li>
<p><b>Searching Observations</b>:</p>	
<p>
We can (X) out this search in the upper left corner, just as we did in the Publications tab. Do that and then in the text-entry box below,  type in 'QSO B11' and watch as it autocompletes to QSO B1101+384...4474 entries...this is a highly studied object.
<p>
	<br/>
	<img width="597" src="{{staticprefix}}/images/helpimgs/Observations2.jpg"/>
	<br/>	
</li>
<li>
<p>Now filter down to observations taken taken with the instrument IUE/SWP. See FOV, resolution, exposure time facets.  
Filter using Urry, C, Megan proposals, and see authors under publication facets. Take the first observation returned in the sort order
of your choice and click the more button to get details about the observation:
</p>
<br/>
<img width="800" src="{{staticprefix}}/images/helpimgs/obsvmore.jpg"/>
<br/>
<p>
	Notice firstly that there is a 'P' button and a download button (1) next to the Observation Title. The Download button gets the appropriate FITS file. In a future version you will be able to connect the data set to desktop applications such as ds9. The 'P' button, which you have seen before in the publications tab, and which we have alluded to as 'pivoting', allows you to see the facets and details of just that observation id. 
</p>
<p>
	On clicking the "More" button we see informations about the objects (connected through papers by the CDS) and publications associated with the observation(2). Clicking on 'P' will tell you about all the observations associated with the publication while clicking on View will take you to the Publications page and give you information about the publication. Click on 'P' in the objects list (3) will filter observations associated with that object via publications, while clicking on the object link itself will bring up CDS information about the object. In the future we will be enhancing this connection in two ways: (a) by matching targets to objects for observations and (b) my looking for objects in the footprint of the observations. So we hope to have a bit deeper linking between objects and data to augment that generously provided us by CDS.
</p>
<p>
Note now that the numbers you see next to these authors are not numbers of papers, but those of observations used in papers. In other words, searches on the Observations page give a notion of the importance of observations as reflected in publications created by their use. We can study this impact using the AstroExplorer in even greater detail, using ADS Lab's new <a href="http://adsabs.harvard.edu/tools/metrics/">Metrics Service</a>. See the metric link above the publications(4). If you click on it, you will have an idea of the impact of that particular observation.
</p>
</li>
<li>
<p><b>Metrics</b>:</p>
<p>
Clear results (using the (X) in the current selection area), and pose the question: what is the impact of one or more observations of a particular target?  Scroll down on the left to Observation Targets, pick MAST/Jupiter, click on the green “Metrics” below the current selection, which will display metrics on the 34 papers related to it. 
<p>
<img width="500" src="{{staticprefix}}/images/helpimgs/Observationsj1.jpg"/>
<img width="350" src="{{staticprefix}}/images/helpimgs/Observationsj2.jpg"/>	
<p>
You can also click "more" on individual observations to access metrics corresponding to that observation: i.e. the metrics from the papers that used that observation (as described in the previous image).
</p>	
</li>
<li>
<p>
Similarly, we can use metrics to evaluate impact of proposals.  Start from the publications page, select mission CHANDRA, scroll down to Proposal facets and select “Fabian” from the PI facet section.  This generates a list of 73 observations (147 publications).  Click on “Metrics” to get the aggregate metrics number for all of them. This is shown in the following two images.
</p>
<br/>
<img width="500" src="{{staticprefix}}/images/helpimgs/Publicationsf1.jpg"/>
<img width="330" src="{{staticprefix}}/images/helpimgs/Publicationsf2.jpg"/>
<br/>
</li>
<li>
<p><b>Saving, Sharing, and Tagging</b>:</p>
<p>
While following along, I hope you have been saving searches, publications, and observations, for, there are some interesting ways in
AstroExplorer to organize and share the results of your searching and exploring. Let us first look at the Saved Items page, accessible from the 'Saved' link in the black bar at the top:
</p>
<br/>
<img width="800" src="{{staticprefix}}/images/helpimgs/Saved-1.jpg"/>
<br/>
<p>
Firstly, once you save an item, you can publish it (or share it) into a group or collaboration. The modus operandi for all actions on this page is, as usual, select items, and then do an operation in bulk on it. Thus we can use the controls in (1) to choose a group, and save the items in question into that group. Secondly, as seen in (2), one can view publications or observations selected in the Publications or Observations pages respectively by hitting the appropriate view button.
</p>
<p>
	In addition to being able to share items into collaborations, you might want to tag them. This reproduces and enhance some of the functionality that <a href="http://myads.harvard.edu/">MyADS</a> has provided for a while now. Enter one tag at a time (3), after selecting the items you want to tag. An item may have as many tags as you like. The tags correspond to libraries in the MYADS interface, but are freer form, and many-to-many in their relationship to items. The list of tags on the left (4) will update and you can select the tag you want to view.
</p>
</li>
<li>
<p><b>Collaborations, and Tagging</b>:</p>
<p>
	But wait, thats not all! You can see your collaborations by clicking on the collaborations menu, as seen in the left image in the panel below. When you choose a collaboration, you get a page similar to the 'Saved' page, but with less options, as seen in the image on the right.
</p>
<br/>
<img width="242" src="{{staticprefix}}/images/helpimgs/collabmenu.jpg"/>
<img width="560" src="{{staticprefix}}/images/helpimgs/Collaboration2-1.jpg"/>
<br/>
<p>	
	Notice on the left side of the right image, the tags. We compute the union of the tags that all collaborators save into the group, and show you all the tags that everyone used. This is a step up from del.icio.us style social bookmarking, as the visibility of tags allows groups to develop their own descriptive language for the resources they are bookmarking. Thus some assets may be tagged 'lensing' by some members of a collaboration, and this language might take root.
</p>
<p> 
	One can select a particular tag using the list of the tags on the left side, the result being this:
</p>
<br/>
<img width="750" src="{{staticprefix}}/images/helpimgs/Collaboration-1.jpg"/>
<br/>
<p>
	Here one can see the results of choosing the tag 'tagsfive' in the group 'truckers' (1). (If you are wondering why truckers is preceded
	by the collaboration creator's email, its to disambiguate two groups with the same name. In a later version we will suppress emails in favor of nicknames). Notice that we show both the sharers of the items into the collaboration, as well as the multiple tags that came from this sharing (2).
</p>
</li>
</ol>
</p>

    
</div>
