<div class="sidebar">
	<div class="well">
		<form id="qsearchform" class="form-stacked" action="">
		<fieldset>
			<input class="large" id="qtext" type="text"/><br/><br/>
			<ul class="inputs-list"> 
               <li> 
                 <label> 
                   <input type="radio" checked name="optionsRadios" value="publications" /> 
                   <span>Publications</span> 
                 </label> 
               </li> 
               <li> 
                 <label> 
                   <input type="radio" name="optionsRadios" value="observations" /> 
                   <span>Observations</span> 
                 </label> 
               </li> 
        	</ul>
			<br/>
			<input type="button" class="btn small primary" id="searchsubmit" value="Submit" name="Submit"/>
		</fieldset>
		</form>
	</div>
</div>
<div class="content"> 
<h2> User {{ user }} </h2>
<hr/>
<div style="display: none;" class="userloggedout">
 Please <a class="userlogin" href="#">log in</a> to see your home page.
</div>
  
<div style="display: none;" class="userloggedin">
<a type="button" class="btn small primary newgroupfancybox" href="#addgroupdiv">Add Group</a>
<div id="owner_groups" class="saved-items"></div>	
<div id="pending_invitations" class="saved-items"></div>
<div id="member_groups" class="saved-items"></div>
</div>
    
</div>
