<div class="row-fluid"> 
<div class="span4">
<div class="well">

  <div>
    <h3>Current Selection</h3> 
    <ul id="selection"></ul> 

    <a id="thrower" class="label label-success" style="display:none">Continue in Publications</a>
    <a id="metricsthrower" class="label label-success" style="display:none">METRICS</a>
    <span id="numpubs"></span>
    <h5>Search</h5> 
    <span id="search_help">(press ESC to close suggestions)</span> 
    <ul id="search"> 
      <input type="text" id="query" name="query"/> 
    </ul>
  </div>

  <div class="clear"></div>
  <br/>
  <br/>

  <div>
    <h3>Data Facets</h3>

    <h5>Missions</h5> 
    <div class="tagcloud" id="missions"></div>

    <h5>Collections&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#data_collection"><span class="caret"></span></button></h5> 
    <div class="tagcloud collapse" id="data_collection"></div>

    <h5>Observation Types&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#obsvtypes"><span class="caret"></span></button></h5> 
    <div class="tagcloud collapse" id="obsvtypes"></div>
    
    <h5>Data Product Types</h5> 
    <div class="tagcloud" id="datatypes"></div>
    
    <h5>Wavelengths</h5> 
    <div class="tagcloud" id="emdomains"></div>
    
    <h5>Instruments</h5> 
    <div class="tagcloud" id="instruments"></div>
    
    <h5>Targets</h5> 
    <div class="tagcloud" id="targets"></div>
    
    <h5>RA</h5>
    <br/>
    <div id="radiv" class="nocollapse">
    <div id="ra"></div>
    <span id="ra_amount" class="rangevalues"></span>
    </div>

    <h5>DEC</h5>
    <br/>
    <div id="decdiv" class="nocollapse">
    <div id="dec"></div>
    <span id="dec_amount" class="rangevalues"></span>
    </div>
    
    <h5>FOV&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#fovdiv"><span class="caret"></span></button></h5>
    <br/>
    <div id="fovdiv" class="collapse">
    <div id="fov"></div>
    <span id="fov_amount" class="rangevalues"></span>
    </div>

    <h5>Resolution&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#resolutiondiv"><span class="caret"></span></button></h5>
    <br/>
    <div id="resolutiondiv" class="collapse">
    <div id="resolution"></div>
    <span id="resolution_amount" class="rangevalues"></span>
    </div>

    <h5>Time Resolution&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#t_resolutiondiv"><span class="caret"></span></button></h5
    <br/>
    <div id="t_resolutiondiv" class="collapse">
    <div id="t_resolution"></div>
    <span id="t_resolution_amount" class="rangevalues"></span>
    </div>

    <h5>When Observed?&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#obsvtimediv"><span class="caret"></span></button></h5>
    <br/>
    <div id="obsvtimediv" class="collapse">
    <div id="obsvtime"></div>
    <span id="obsvtime_amount" class="rangevalues"></span>
    </div>
    
    <h5>Exposure Time (ksec)&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#exptimediv"><span class="caret"></span></button></h5>
    <br/>
    <div id="exptimediv" class="collapse">
    <div id="exptime"></div>
    <span id="exptime_amount" class="rangevalues"></span>
    </div>
    
    <!--h5>Observation Ids</h5> 
    <div class="tagcloud" id="obsids"></div!-->
  </div>

  <div class="clear"></div> 
  <br/>
  <br/>


  <div>
    <h3>Publication Facets</h3>
    <h5>Top Keywords&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#keywords"><span class="caret"></span></button></h5> 
    <div class="tagcloud collapse" id="keywords"></div> 

    <h5>Top Authors&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#author"><span class="caret"></span></button></h5> 
    <div class="tagcloud collapse" id="author"></div>


    <!-- Taken out by Doug
    <h5>Paper Types</h5> 
    <div class="tagcloud" id="papertype"></div>
    -->

    <h5>Year of Publication&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#pubyeardiv"><span class="caret"></span></button></h5>
    <br/>
    <div id="pubyeardiv" class="collapse">
    <div id="pubyear"></div>
    <span id="pubyear_amount" class="rangevalues"></span>
    </div>
   
  </div> 

  <div class="clear"></div> 
  <br/>
  <br/>

  <div>
    <h3> Object Facets </h3>      
    <h5>Object Types&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#objecttypes"><span class="caret"></span></button></h5> 
    <div class="tagcloud collapse" id="objecttypes"></div>
    
    <h5>Object Names</h5> 
    <div class="tagcloud" id="objectnames"></div>
     
  </div>

  <div class="clear"></div> 
  <br/>
  <br/>

  <div>
    <h3>Proposal Facets</h3>
    <h5>Proposal Types&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#proposaltype"><span class="caret"></span></button></h5> 
    <div class="tagcloud collapse" id="proposaltype"></div>
    
    <h5>Proposal PIs&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#proposalpi"><span class="caret"></span></button></h5> 
    <div class="tagcloud collapse" id="proposalpi"></div>
    
    <h5>Proposal Ids&nbsp;<button class="btn btn-mini btn-info" data-toggle="button collapse" data-target="#propids"><span class="caret"></span></button></h5> 
    <div class="tagcloud collapse" id="propids"></div>
  </div>

  <div class="clear"></div> 
  <br/>
  <br/>

</div>
</div>
{{>bodyright}}
</div>

