<head> 
<meta charset="utf-8"> 
    <meta name="description" content=""> 
    <meta name="author" content=""> 
  <title>{{pagetitle}}</title> 
    <link rel="stylesheet" type="text/css" href="{{ staticprefix }}/bootstrap/css/bootstrap.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ staticprefix }}/css/semflow.css" media="screen"/> 
<script type="text/javascript">
var dagroup = '{{group}}';
var dasiteprefix = '{{siteprefix}}';
var dastaticprefix = '{{staticprefix}}';
var datag = '{{ tag }}'
var mygroups=[];
</script>
 <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script-->
  <script type="text/javascript" src="{{ staticprefix }}/ext/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/ext/jquery-ui-1.8.1.custom.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ staticprefix }}/ext/smoothness/jquery-ui.css" media="screen" />
  <!-- this must be here so that bootstrap widgets can override-->
  <script type="text/javascript" src="{{ staticprefix }}/js/underscore-min.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/backbone/backbone.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/bootstrap/js/bootstrap-dropdown.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/bootstrap/js/bootstrap-collapse.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/bootstrap/js/bootstrap-button.js"></script>

<!--script type="text/javascript" src="js/jquery.ui.ipad.js"></script-->
 <script type="text/javascript" src="{{ staticprefix }}/js/semflow.core2.js"></script> 
 <script type="text/javascript" src="{{ staticprefix }}/ajax-solr/core/Core.js"></script>
 <script type="text/javascript" src="{{ staticprefix }}/ajax-solr/core/AbstractManager.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/ajax-solr/managers/Manager.jquery.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/ajax-solr/core/Parameter.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/ajax-solr/core/ParameterStore.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/ajax-solr/core/ParameterHashStore.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/widgets-coffee/AstroExplorerStore.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/ajax-solr/core/AbstractWidget.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/js/configdb.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/js/models.js"></script>
{{#haswidgets}}
  <script type="text/javascript" src="{{ staticprefix }}/widgets/{{ pageclass }}.ResultsWidgets.js"></script>
{{/haswidgets}}
  <script type="text/javascript" src="{{ staticprefix }}/ajax-solr/widgets/jquery/PagerWidget.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/ajax-solr/core/AbstractFacetWidget.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/widgets-coffee/TagcloudWidget.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/widgets-coffee/CurrentSearchWidget.js"></script>

  <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script-->

  <link rel="stylesheet" type="text/css" href="{{ staticprefix }}/ext/jquery.autocomplete.css" media="screen" />
  <script type="text/javascript" src="{{ staticprefix }}/ext/jquery.autocomplete.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/widgets-coffee/AutocompleteWidget.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/widgets-coffee/DualSlider.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/widgets-coffee/YearWidget.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/widgets-coffee/DateRanger.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/js/date.js"></script>
  <script type="text/javascript" src="{{ staticprefix }}/js/time.js"></script>

 <!--link rel="stylesheet" type="text/css" href="ext/colorbox.css" media="screen" /> 
  <script type="text/javascript" src="ext/jquery.colorbox.js"></script-->
  <script type="text/javascript" src="{{ staticprefix }}/ext/fancybox/jquery.fancybox-1.3.4.js"></script>
  <link rel="stylesheet" href="{{ staticprefix }}/ext/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

  <script type="text/javascript" src="{{ staticprefix }}/ext/jquery.tablesorter/jquery.tablesorter.min.js"></script>
  <link rel="stylesheet" href="{{ staticprefix }}/ext/jquery.tablesorter/themes/blue/style.css" type="text/css" media="print, projection, screen" />

<!--script type="text/javascript" src="../../Projects/ajax-solr/helpers/jquery/ajaxsolr.theme.js"></script-->

  <!-- add last so we can over-ride other stylesheets -->
  <script type="text/javascript" src="{{ staticprefix }}/js/{{pageclass}}.js"></script> 
  <script type="text/javascript" src="{{ staticprefix }}/js/n.{{pageclass}}.theme.js"></script>

    <style type="text/css"> 
      body {
        padding-top: 50px;
      }
    </style>

</head>
